<div class="row">
  <div class="large-3 columns">
    <h1><%= image_tag "globe-swooshes-logo.jpg" %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group">
        <%= link_to "Home", root_path, class: "button" %>
        <%= link_to "About", "#", class: "button" %>

    </ul>
  </div>
</div>